APScheduler==3.6.3
asgiref==3.2.10
asn1crypto==1.4.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.1
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorclass==2.2.0
dj-database-url==0.5.0
Django==3.0.9
django-pwa==1.0.10
djangorestframework==3.11.0
docopt==0.6.2
firebase-admin==4.3.0
future==0.18.2
google-api-core==1.22.1
google-api-python-client==1.10.0
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.8.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
grpcio==1.31.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
iniconfig==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
msgpack==1.0.0
packaging==20.4
pip-upgrader==1.4.15
pluggy==0.13.1
protobuf==3.13.0
psycopg2-binary==2.8.5
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.3
pyparsing==2.4.7
pytest==6.0.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
rsa==4.6
sentry-sdk==0.16.2
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
terminaltables==3.1.0
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.10
whitenoise==5.1.0
wrapt==1.12.1
