<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <!--Lets the browser know website is optimized for mobile-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="Description" content="High accuracy games, For Serious Investors"/>
  <meta name="author" content="Dennis Peterson"/>
  <meta name="copyright" content="© Dennis Peterson 2015-2019"/>
  <title>TheBelters | All In One</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'css/favs/favicon.png' %}"/>
  <!--Font Family  -->
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <!--custom css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <!-- navbar -->
  <div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo black-text left">TheBelters</a>
        <!-- <span class="show-on-medium-and-up">The hustle never stops!</span> -->
        <ul class="right">
          <li><a href="/comingsoon/" class="black-text" title="Betslip" aria-label="BetSlip">{{ games.count }}<i class="feather" data-feather="list"></i></a></li>
          <li><a href="#" class="black-text" title="Account" aria-label="Account"><i class="feather" data-feather="user"></i></a></li>
        </ul>
      </div>
      {% block nav-content %}
      {% endblock %}
    </nav>
  </div>
  {% comment %} End of navbar {% endcomment %}
  <!--main content  -->
  <div class="wrapper">
    {% block content %}
    {% endblock %}
  </div>
  <!--footer  -->
  <div class="navigation">
    <ul class="tabs">
      <li class="tab"><a target="_self" href="{% url 'today' %}" title="All Games" class="black-text{% if '/' == request.path or '/yesterday/' == request.path or '/tomorrow/' == request.path %} active{% endif %}">
        <i class="feather" data-feather="home"></i><span class="hide-on-small-only">All Games</span></a>
      </li>
      <li class="tab"><a target="_self" href="/goalgoal/" title="G-G" class="black-text{% if '/goalgoal/' == request.path or request.path == '/goalgoal/today/' or request.path == '/goalgoal/yesterday/' or request.path == '/goalgoal/tomorrow/' %} active{% endif %}">
        <i class="feather hide-on-small-only" style="color:#DB1A25" data-feather="heart"></i>G-G</a>
      </li>
      <li class="tab"><a target="_self" href="{% url 'featured' %}" title="Featured" class="black-text{% if '/featured/' == request.path %} active{% endif %}">
        <i class="feather" style="color:#DB1A25" data-feather="zap"></i><span class="hide-on-small-only">Featured</span></a>
      </li>
      <li class="tab"><a target="_self" href="{% url 'jackpot' %}" title="Jackpot" class="black-text{% if '/jackpot/' == request.path %} active{% endif %}" >
        <i class="feather hide-on-small-only" style="color:#73D216" data-feather="target"></i>Jackpot</a>
      </li>
      <li class="tab" id="showTips" onclick="toggleElem('overTips')">
        <a target="_self" href="#" title="Over" class="black-text{% if '/Over2.5/' == request.path %} active{% endif %}">
          <i class="feather" data-feather="plus"></i>
          <span class="hide-on-small-only">Over Tips</span>
        </a>
      </li>
    </ul>
  </div>
  <div id='overTips' class='dropdown-content white center'>
    <div  class="taboption" onclick="openTip(event)"><a href="{% url 'overTips' %}">Over 3.5</a></div>
    <div class="divider" tabindex="-1"></div>
    <div class="taboption"><a href="{% url 'overTips' %}">Over 2.5</a></div>
    <div class="divider" tabindex="-1"></div>
    <div class="taboption"> <a href="{% url 'overTips' %}">Over 1.5</a></div>
    <div class="divider" tabindex="-1"></div>
  </div>
  <!-- For optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- feather icons -->
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

  <!--custom js-->
  <script type="text/javascript">

  function toggleElem(id) {
    var elem = document.getElementById(id);
    elem.style.display = elem.style.display == "block" ? "none" : "block";
  }
  $(document).ready(function(){
    //for feather Icons
    feather.replace();
    $("li.tab").on("click", function(){
      // Get all elements with class="tab" and remove the class "active"
      var tablinks = $('.tab a');
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // showing active Tab
      $(this).children('a')[0].className += " active";

    });
    // function openTip(event) {
    //   // Get all elements with class="taboption" and remove the class "active"
    //   taboption = document.getElementsByClassName("taboption");
    //   for (i = 0; i < taboption.length; i++) {
    //     taboption[i].className = taboption[i].className.replace(" active", "");
    //   }
    //
    //   // Show the current tab, and add an "active" class to the button that opened the tab
    //   document.getElementById(cityName).style.display = "block";
    //   event.currentTarget.className += " active";
    //
    // }
  });
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
