<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
  <!--Lets the browser know website is optimized for mobile-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="Description" content="High accuracy games, For Serious Investors"/>
  <meta name="author" content="Dennis Peterson"/>
  <meta name="copyright" content="©Dennis Peterson 2015-2019"/>
  <meta property="og:image" content="{% static 'css/favs/favicon.png' %}" />
  <meta property="og:locale" content="en_US" />
  <meta name="robots" content="noodp">
  <meta name="description" content="This is any Investors Must Have"/>
  <meta property="og:site_name" content="The Belters | All In One" />
  <meta property="og:url" content="https://thebelters.herokuapp.com/" />
  <meta property="og:description" content="All your games predictions are here." />
  <meta property="og:title" content="TheBelters | Gambler | Investors" />
  <meta property="og:type" content="Gambling website" />


  <title>The Belters | All In One </title>
  <link rel="shortcut icon" type="image/png" href="{% static 'css/favs/favicon.png' %}"/>
  <!--Font Family  -->
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <!--custom css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <!-- navbar -->
  <div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo black-text left">TheBelters <i class="icon-peace"></i></a>
        {% comment %} <span class="show-on-medium-and-up">The hustle never stops!</span> {% endcomment %}
        <div class="right">
          <div><span class="black-text" title="Won_count" aria-label="won"><i class="icon-won hide-on-small-only space_in_icons green-text"></i><span class="hide-on-med-and-up space_in_icons green-text">W</span><span class="won_count"></span></span></div>
          <div><span class="black-text" title="Lost_count" aria-label="lost"><i class="icon-lost hide-on-small-only space_in_icons red-text"></i><span class="hide-on-med-and-up space_in_icons red-text">L</span><span class="lost_count"></span></span></div>
          <div onclick="displayer('.betlist')" class="black-text betslip" id="0"><i class="icon-list space_in_icons"></i><span class="betlist_count"></span> </div>
          <div onclick="displayer('.submenu')" class="black-text account" id="0"><i class="icon-prof space_in_icons"></i></div>
          <div class="submenu">
            <div class="root">
              <div>
                <a href="#"><i class="icon-prof"></i>Profile</a>
              </div>
              <div>
                <a href="#"><i class="icon-setting"></i>Settings</a>
              </div>
              <div>
                <a href="#"><i class="icon-share"></i>Share</a>
              </div>
              <div>
                <a href="#"><i class="icon-feedback"></i>Send Feedback</a>
              </div>
              <div>
                <a href="#"><i class="icon-sign-out"></i>Sign Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% block nav-content %}
      {% endblock %}
    </nav>
  </div>
  <div class="betlist"></div>
  {% comment %} End of navbar {% endcomment %}
  <!--main content  -->
  <div class="wrapper">
    {% block content %}
    {% endblock %}
  </div>
  <!--footer  -->
  <div class="navigation">
    <ul class="tabs">
      <li class="tab"><a target="_self" href="{% url 'today' %}" title="All Games" class="black-text{% if '/' == request.path or '/yesterday/' == request.path or '/tomorrow/' == request.path %} active{% endif %}">
        <i class="icon-home"></i><span class="hide-on-small-only">All Games</span></a>
      </li>
      <li class="tab"><a target="_self" href="{% url 'goalgoal' %}" title="G-G" class="black-text{% if '/goalgoal/' == request.path or request.path == '/goalgoal/today/' or request.path == '/goalgoal/yesterday/' or request.path == '/goalgoal/tomorrow/' %} active{% endif %}">
        <i class="icon-featured hide-on-small-only" style="color:#DB1A25"></i>G - G</a>
      </li>
      <li class="tab"><a target="_self" href="{% url 'featured' %}" title="Featured" class="black-text{% if '/featured/' == request.path or request.path == '/featured/today/' or request.path == '/featured/yesterday/' or request.path == '/featured/tomorrow/' %} active{% endif %}">
        <i class="icon-hot" style="color:#DB1A25"></i><span class="hide-on-small-only">Featured</span></a>
      </li>
      <li class="tab"><a target="_self" href="{% url 'jackpot' %}" title="Jackpot" class="black-text{% if '/jackpot/' == request.path %} active{% endif %}" >
        <i class="icon-jackpot" style="color:#73D216"></i><span class="hide-on-small-only">Jackpot</span></a>
      </li>
      <li class="tab" id="showTips">
        <a target="_self" href="{% url 'over' %}" title="Over" class="black-text{% if '/over/' == request.path or request.path == '/over/today/' or request.path == '/over/yesterday/' or request.path == '/over/tomorrow/' %} active{% endif %}">
          <i class="icon-over"></i>
          <span class="hide-on-small-only">Over Tips</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- For optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--custom js-->
  <script type="text/javascript">

  function toggleElem(id) {
    var elem = document.getElementById(id);
    elem.style.display = elem.style.display == "block" ? "none" : "block";
  }
  $(document).ready(function(){
    $("li.tab").on("click", function(){
      // Get all elements with class="tab" and remove the class "active"
      var tablinks = $('.tab a');
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // showing active Tab
      $(this).children('a')[0].className += " active";
    });
  });

  $(document).ready(function(){
    $("div.taboption").on("click", function(){
      // Get all elements with class="tab" and remove the class "active"
      var taboption = $('.taboption');
      for (i = 0; i < taboption.length; i++) {
        taboption[i].className = taboption[i].className.replace(" activeoption", "");
      }
      // showing active Tab
      $(this)[0].className += " activeoption";
      // $('#overTips').delay(800).hide(500);
      var pick = $(this).children('a').html();
      var forecasts__list = $('.forecasts__list');
      for (i = 0; i < forecasts__list.length; i++) {
        forecasts__list[i].className = forecasts__list[i].className.replace(" visible", "");
      }
      $('.forecasts__list')[$('.taboption').index(this)].className += " visible";
      // console.log($('.forecasts__list')[$('.taboption').index(this)]);
    });
  });
  </script>
  <script>
  $(window).on('load', function(){
    $('#over25').click();
  });
  var won_count = $('.icon_success').length
  var lost_count = $('.icon_failure').length
  $('.won_count').html(won_count);
  $('.lost_count').html(lost_count);
  $(document).ready(function()
  {
    $('.forecasts__list .forecasts__item').on('dblclick', function(){
      var index = $('.forecasts__list .forecasts__item').index(this);
      var id = $(this).attr('id');
      if(id != ''){
        $(this).removeClass('is_selected');
        $('.betlist div').each(function() {
          if ($(this).attr('id') == id){
            $(this).remove();
          }
        });
        $(this).attr('id', '');
        $(this).children('span.forecasts__coeff').removeClass("icon-check");

      }else{
        $(this).addClass('is_selected');
        $(this).attr('id', index);
        $('.betlist').append($(this).clone());
        // adding selected icon
        $(this).children('span.forecasts__coeff').addClass("icon-check");

      }
      // adding delete icon
      $('.betlist .forecasts__item.is_selected').children('span.forecasts__coeff').addClass("icon-remove");
      // Remove Items From betslip
      $('span.forecasts__coeff.icon-remove').on('dblclick',function(){
        $( this ).parent().remove();
        // $('.forecasts div').each(function() {
          // if ($(this).attr('id') == id){
            // console.log($(id));
            //to work on removing items from betslip and removing selected class
          // }
        // });
        // getting total items in betlist
        betlist_count = $('.betlist .forecasts__item.is_selected').length;
        $('.betlist_count').html(betlist_count);
      });
      // getting total items in betlist
      betlist_count = $('.betlist .forecasts__item.is_selected').length;
      $('.betlist_count').html(betlist_count);
    });
  });
  // for  menu/block toggle
  function displayer(target) {
    var X = $(this).attr('id');
    if(X==1){
      $(target).hide();
      $(this).attr('id', '0');
    }else {
      $(target).show();
      $(this).attr('id', '1');
    }
  }
  $('.remove').click(function(){
    event.preventDefault();
    $(this).hide(400);

  });
</script>

{% comment %} <script type="text/javascript" src="{% static 'js/main.js' %}"></script> {% endcomment %}
</body>
</html>
