{% extends 'mysite/base.html' %}
{% load staticfiles %}
{% block nav-content %}
<div class="nav-content">
  <ul class="tabs tabs-transparent">
    <li class="tab"><a target="_self" href="/featured/yesterday/" class="{% if request_tom == 'yesterday' %} active {% endif %} black-text">Yesterday</a></li>
    <li class="tab"><a target="_self" href="/featured/today/" class="{% if request_tom == 'today' %} active {% endif %} black-text">Today</a></li>
    <li class="tab"><a target="_self" href="/featured/tomorrow/" class="black-text {% if request_tom == 'tomorrow' %} active {% endif %}">Tomorrow</a></li>
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="wrap">
  {% if games.count != 0 %}
  {% for each in games %}
  <div class="item">
    <div class="flag center"><img src="{% static 'css/assets/flag_default.png' %}"></div>
    <div class="info">
      <div class="name">{{ each.teams }}</div>
      <div class="y">
        <span><b>{{ each.time }}</b></span> Pick <span>{{ each.tip }}</span>
        <span class="black-text">Result: {{ each.ft_results }}</span>
      </div>
    </div>
    <div class="clr center">
      {% if each.outcome_text == 'homewin' or each.outcome_text == 'awaywin' or each.outcome_text == '12win' or each.outcome_text == '1Xwin' or each.outcome_text == 'X2win' %}
      <i class="icon icon_success" title="won"></i>
      {% endif %}
      {% if each.outcome_text == 'drawwin' %}
      <i class="icon icon_success" title="won"></i>
      {% endif %}
      {% if each.outcome_text == 'drawlose' or each.outcome_text == 'homelose' or each.outcome_text == 'awaylose' or each.outcome_text == '12lose' or each.outcome_text == '1Xlose' or each.outcome_text == 'X2lose' %}
      <i class="icon icon_failure" title="lost"></i>
      {% endif %}
      {% if each.outcome_text == 'no_results_yet' %}
      <i class="icon icon_pending" title="waiting"></i>
      {% endif %}
      {% if each.outcome_text == 'postponed' %}
      <i class="icon icon_post" title="post"></i>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="nothing"> <div class="text">Nothing to Display!</div></div>
  {% endif %}
</div>
{% endblock %}
