{% extends 'mysite/base.html' %}
{% block content %}
<div class="forecasts">
  <div class="forecasts__title">
    <i class="icon icon_soccer"></i>
    <span class="forecasts__sport">Football</span>
    <!-- Getting Predicated Date From Url  -->
    {% if request_tom == "yesterday" %}
    <span class="forecasts__day">Yesterday</span>
    {% endif %}
    {% if request_tom == "today" %}
    <span class="forecasts__day">Today</span>
    {% endif %}
    {% if request_tom == "tomorrow" %}
    <span class="forecasts__day">Tomorrow</span>
    {% endif %}
    <span class="forecasts__coefficient center">Odds</span>
  </div>
  <div class="forecasts__list">
    {% for game in games %}
    <div class="forecasts__item">
      <h4 class="forecasts__teams">
        <a href="{% url 'game_detail' pk=game.pk %}">{{ game.teams }}</a>
      </h4>
      <span class="forecasts__league">
        <span class="forecasts__date"><b>{{ game.time }}</b>
          <!-- tip  -->
        </span>Pick <b style="font-size: 11px;">
          <a href="{% url 'game_detail' pk=game.pk %}">{{ game.tip }}</a></b>
      </span>
      <!-- Game Status text and icon -->
      <a href="{% url 'game_detail' pk=game.pk %}">
      {% if game.outcome_text == 'homewin' or game.outcome_text == 'awaywin' or game.outcome_text == '12win' or game.outcome_text == '1Xwin' or game.outcome_text == 'X2win' %}
      <i>Result</i> <b style="font-size: 12px;color: green;">WOOON</b>
      <i class="forecasts__result icon icon_success" title="won"></i>
      {% endif %}
      {% if game.outcome_text == 'drawwin' %}
      <i>Result</i> <b style="font-size: 12px;color: green;">WOOON</b>
      <i class="forecasts__result icon icon_success" title="won"></i>
      {% endif %}
      {% if game.outcome_text == 'drawlose' or game.outcome_text == 'homelose' or game.outcome_text == 'awaylose' or game.outcome_text == '12lose' or game.outcome_text == '1Xlose' or game.outcome_text == 'X2lose' %}
      <i>Result</i> <b style="font-size: 12px; color: red;">LOST</b>
      <i class="forecasts__result icon icon_failure" title="lost"></i>
      {% endif %}
      {% if game.outcome_text == 'no_results_yet' %}
      <i>Result</i> <b style="font-size: 12px;">...</b>
      <i class="forecasts__result icon icon_pending" title="waiting"></i>
      {% endif %}
      </a>
      <!--Game odd  -->
      <span class="forecasts__coeff center">{{ game.tip_odd }}</span>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
