{% extends 'mysite/base.html' %}
<!--main content  -->
{% block content %}
<div class="forecasts">
  <div class="forecasts__title">
    <i class="icon icon_soccer"></i>
    <span class="forecasts__sport">Football</span>
    {% if request_tom == "yest" %}
    <span class="forecasts__day">Yesterday</span>
    {% endif %}
    {% if request_tom == "tod" %}
    <span class="forecasts__day">Today</span>
    {% endif %}
    {% if request_tom == "tom" %}
    <span class="forecasts__day">Tomorrow</span>
    {% endif %}
    <span class="forecasts__coefficient center">Odds</span>
  </div>
  <div class="forecasts__list">
    {% for game in games %}
    <a href="{% url 'game_details' pk=game.pk%}" class="forecasts__item">
      <i class="flag"><img src="" alt="flag"></i>
      <h4 class="forecasts__teams">{{ game.teams }}</h4>
      <span class="forecasts__league blink_me">
        <span class="forecasts__date">
          <b>{{ game.time }}</b>
        </span>
        Pick <b style="font-size: 11px;">{{ game.tip }}</b>
        </span>
      {% if game.ft_results == 'homewin' or game.ft_results == 'awaywin' or game.ft_results == '12win' or game.ft_results == '1Xwin' or game.ft_results == 'X2win' %}
      <i>Result</i> <b style="font-size: 12px;color: green;">WOOON</b>
       <i class="forecasts__result icon icon_success" title="won"></i>
      {% endif %}
      {% if game.ft_results == 'drawwin' %}
      <i>Result</i> <b style="font-size: 12px;color: green;">WOOON</b>
      <i class="forecasts__result icon icon_success" title="won"></i>
      {% endif %}
      {% if game.ft_results == 'drawlose' or game.ft_results == 'homelose' or game.ft_results == 'awaylose' or game.ft_results == '12lose' or game.ft_results == '1Xlose' or game.ft_results == 'X2lose' %}
      <i>Result</i> <b style="font-size: 12px; color: red;">LOST</b>
      <i class="forecasts__result icon icon_failure" title="lost"></i>
      {% endif %}
      {% if game.ft_results == 'no_results_yet' %}
      <i>Result</i> <b style="font-size: 12px;">...</b>
      <i class="forecasts__result icon icon_pending" title="waiting"></i>
      {% endif %}
      <span class="forecasts__coeff forecasts__coeff_free">{{ game.tip_odd }}
    </span>
  </a>
  {% endfor %}
</div>
</div>
{% endblock %}
